In [69]:
import pandas as pd
import json
import os

# Merging Data from TMBD API and Original SOVAI Data

In [70]:
CLEAN_DATA_PATH = "../data/cleaned"
RAW_DATA_PATH = "../data/raw"

In [71]:
merged_df = pd.read_csv(f'{CLEAN_DATA_PATH}/merged_df.csv')
merged_df.head()

,ticker,date,title,distributor,gross,percent_yd,percent_lw,theaters,per_theater,total_gross,...,avg_gross_wednesday,avg_gross_thursday,avg_gross_friday,avg_gross_saturday,avg_gross_sunday,avg_gross_weekend,avg_gross_weekday,id,original_title,popularity
0,PARA,2016-06-02,10 Cloverfield Lane,Paramount Pi…,11414,0.32,-0.12,120.0,95.0,72082999,...,362675.5,440960.307692,1473445.25,1.834276e+06,1.113608e+06,1.473776e+06,425041.979592,333371,10 Cloverfield Lane,7.8372
1,Private,2025-10-16,100 Meters,GKIDS,313,-0.03,0.00,1.0,313.0,140991,...,0.0,313.000000,0.00,0.000000e+00,0.000000e+00,0.000000e+00,313.000000,911001,100 meters,0.0143
2,SONY,2018-06-03,102 Not Out,Sony Pictures,2806,-0.48,-0.83,17.0,165.0,1339909,...,21569.0,15996.000000,49874.20,7.777380e+04,6.512380e+04,6.425727e+04,23503.125000,460713,102 Not Out,3.4544
3,Private,2006-09-04,10th & Wolf,ThinkFilm,1791,0.00,0.00,6.0,299.0,49783,...,0.0,0.000000,0.00,0.000000e+00,0.000000e+00,0.000000e+00,1791.000000,13197,10th & Wolf,3.6557
4,WBD,2007-09-03,11th Hour,Warner Indep…,64888,0.00,0.00,111.0,585.0,417913,...,0.0,0.000000,0.00,0.000000e+00,0.000000e+00,0.000000e+00,64888.000000,476899,11th Hour,2.3114

In [72]:
merged_df.rename(columns={"id": "tmdb_id"}, inplace=True)

In [73]:
tmdb_movie_metadata = pd.read_csv(f"{RAW_DATA_PATH}/tmdb_movie_metadata.csv")

In [74]:
tmdb_movie_metadata['tmdb_id'] = tmdb_movie_metadata['id']
tmdb_movie_metadata = tmdb_movie_metadata.drop(columns=['id'])

In [75]:
print(tmdb_movie_metadata.shape)

tmdb_movie_metadata.head()

(15793, 27)

,imdb_id,title,original_title,original_language,release_date,status,homepage,budget,revenue,adult,...,spoken_languages,genre_ids,genre_names,production_company_ids,production_company_names,production_company_countries,production_country_codes,production_country_names,belongs_to_collection,tmdb_id
0,tt1179933,10 Cloverfield Lane,10 Cloverfield Lane,en,2016-03-10,Released,https://www.paramountmovies.com/movies/10-clov...,15000000,110216998,False,...,English,"53, 878, 18, 27","Thriller, Science Fiction, Drama, Horror",11461,Bad Robot,US,US,United States of America,NaN,333371
1,NaN,100 meters,100 meters,en,2012-12-01,Released,NaN,0,0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,911001
2,tt6580564,102 Not Out,102 Not Out,hi,2018-05-04,Released,NaN,0,0,False,...,Hindi,"35, 10751, 18","Comedy, Family, Drama","5544, 106569, 157559, 63520","Benchmark, Treetop Entertainment, Sony Picture...",", , IN, US","IN, US","India, United States of America",NaN,460713
3,tt0360323,10th & Wolf,10th & Wolf,en,2006-02-19,Released,NaN,8000000,143451,False,...,English,"28, 80, 18, 9648, 53","Action, Crime, Drama, Mystery, Thriller",41427,Suzanne DeLaurentiis Productions,NaN,US,United States of America,NaN,13197
4,tt6207498,11th Hour,11th Hour,en,2017-12-31,Released,http://undergroundfilms.ie/projects/11th-hour/,0,0,False,...,"English, Spanish",NaN,NaN,"160740, 2307, 71357, 49326, 11294","Canal 44, Hell's Kitchen, Hell's Kitchen Inter...",", IE, , US, MX","IE, MX","Ireland, Mexico",NaN,476899

In [76]:
print(merged_df.shape)
merged_df.head()

(15810, 36)

,ticker,date,title,distributor,gross,percent_yd,percent_lw,theaters,per_theater,total_gross,...,avg_gross_wednesday,avg_gross_thursday,avg_gross_friday,avg_gross_saturday,avg_gross_sunday,avg_gross_weekend,avg_gross_weekday,tmdb_id,original_title,popularity
0,PARA,2016-06-02,10 Cloverfield Lane,Paramount Pi…,11414,0.32,-0.12,120.0,95.0,72082999,...,362675.5,440960.307692,1473445.25,1.834276e+06,1.113608e+06,1.473776e+06,425041.979592,333371,10 Cloverfield Lane,7.8372
1,Private,2025-10-16,100 Meters,GKIDS,313,-0.03,0.00,1.0,313.0,140991,...,0.0,313.000000,0.00,0.000000e+00,0.000000e+00,0.000000e+00,313.000000,911001,100 meters,0.0143
2,SONY,2018-06-03,102 Not Out,Sony Pictures,2806,-0.48,-0.83,17.0,165.0,1339909,...,21569.0,15996.000000,49874.20,7.777380e+04,6.512380e+04,6.425727e+04,23503.125000,460713,102 Not Out,3.4544
3,Private,2006-09-04,10th & Wolf,ThinkFilm,1791,0.00,0.00,6.0,299.0,49783,...,0.0,0.000000,0.00,0.000000e+00,0.000000e+00,0.000000e+00,1791.000000,13197,10th & Wolf,3.6557
4,WBD,2007-09-03,11th Hour,Warner Indep…,64888,0.00,0.00,111.0,585.0,417913,...,0.0,0.000000,0.00,0.000000e+00,0.000000e+00,0.000000e+00,64888.000000,476899,11th Hour,2.3114

## 1. Merge on TMDB

In [77]:
final_df = merged_df.merge(
    tmdb_movie_metadata,
    on="tmdb_id",
    how="left",  # keeps all rows from merged_df, adds matching metadata where available
    suffixes=("_sov", "_tmdb")  # avoids column name conflicts
)

print(final_df.shape)

print("Shape: ", final_df.shape)
print(final_df.columns)

(15810, 62)
Shape:  (15810, 62)
Index(['ticker', 'date', 'title_sov', 'distributor', 'gross', 'percent_yd',
       'percent_lw', 'theaters', 'per_theater', 'total_gross',
       'days_in_release', 'parent company', 'distributor address',
       'distributorwebsite', 'release_date_sov', 'year', 'title_key',
       'weekday', 'release_month', 'release_weekday', 'is_weekend',
       'average_theaters', 'average_gross', 'average_gross_per_theaters',
       'avg_gross_monday', 'avg_gross_tuesday', 'avg_gross_wednesday',
       'avg_gross_thursday', 'avg_gross_friday', 'avg_gross_saturday',
       'avg_gross_sunday', 'avg_gross_weekend', 'avg_gross_weekday', 'tmdb_id',
       'original_title_sov', 'popularity_sov', 'imdb_id', 'title_tmdb',
       'original_title_tmdb', 'original_language', 'release_date_tmdb',
       'status', 'homepage', 'budget', 'revenue', 'adult', 'overview',
       'tagline', 'runtime', 'popularity_tmdb', 'vote_average', 'vote_count',
       'origin_country', 'spoken_languages', 'genre_ids', 'genre_names',
       'production_company_ids', 'production_company_names',
       'production_company_countries', 'production_country_codes',
       'production_country_names', 'belongs_to_collection'],
      dtype='object')

In [78]:
final_df.rename(columns={"title_sov": "title", "release_date_sov": "release_date", "popularity_sov": "popularity","original_title_sov": "original_title" }, inplace=True)
final_df = final_df.drop(columns=['release_date_tmdb', 'title_tmdb', 'popularity_tmdb', 'original_title_tmdb'])

In [79]:
to_remove = ['distributor address', 'distributorwebsite', 'homepage', 'tagline', 'original_title', 'production_company_countries', 'production_country_codes', 'production_country_names']
final_df.drop(columns=to_remove, inplace=True)

In [80]:
final_df

,ticker,date,title,distributor,gross,percent_yd,percent_lw,theaters,per_theater,total_gross,...,runtime,vote_average,vote_count,origin_country,spoken_languages,genre_ids,genre_names,production_company_ids,production_company_names,belongs_to_collection
0,PARA,2016-06-02,10 Cloverfield Lane,Paramount Pi…,11414,0.32,-0.12,120.0,95.0,72082999,...,104.0,7.000,8351.0,US,English,"53, 878, 18, 27","Thriller, Science Fiction, Drama, Horror",11461,Bad Robot,NaN
1,Private,2025-10-16,100 Meters,GKIDS,313,-0.03,0.00,1.0,313.0,140991,...,1.0,0.000,0.0,US,NaN,NaN,NaN,NaN,NaN,NaN
2,SONY,2018-06-03,102 Not Out,Sony Pictures,2806,-0.48,-0.83,17.0,165.0,1339909,...,107.0,7.500,62.0,"IN, US",Hindi,"35, 10751, 18","Comedy, Family, Drama","5544, 106569, 157559, 63520","Benchmark, Treetop Entertainment, Sony Picture...",NaN
3,Private,2006-09-04,10th & Wolf,ThinkFilm,1791,0.00,0.00,6.0,299.0,49783,...,107.0,5.856,108.0,US,English,"28, 80, 18, 9648, 53","Action, Crime, Drama, Mystery, Thriller",41427,Suzanne DeLaurentiis Productions,NaN
4,WBD,2007-09-03,11th Hour,Warner Indep…,64888,0.00,0.00,111.0,585.0,417913,...,10.0,6.417,6.0,"IE, MX, US","English, Spanish",NaN,NaN,"160740, 2307, 71357, 49326, 11294","Canal 44, Hell's Kitchen, Hell's Kitchen Inter...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15805,SONY,2006-09-04,Zoom,Sony Pictures,94312,0.00,0.00,303.0,311.0,11406340,...,5.0,0.000,0.0,NaN,NaN,NaN,NaN,178489,Alpha Flicks,NaN
15806,SONY,2006-09-04,Zoom,Sony Pictures,94312,0.00,0.00,303.0,311.0,11406340,...,0.0,0.000,0.0,US,NaN,NaN,NaN,228330,Organización Internacional del Trabajo,NaN
15807,SONY,2006-09-04,Zoom,Sony Pictures,94312,0.00,0.00,303.0,311.0,11406340,...,7.0,0.000,0.0,US,NaN,NaN,NaN,NaN,NaN,NaN
15808,SONY,2006-09-04,Zoom,Sony Pictures,94312,0.00,0.00,303.0,311.0,11406340,...,3.0,0.000,0.0,US,NaN,NaN,NaN,NaN,NaN,NaN
15809,SONY,2023-04-13,¡Que viva México!,Sony Pictures,163,-0.54,-0.81,6.0,27.0,161222,...,192.0,7.332,190.0,MX,Spanish,"18, 35","Drama, Comedy",21805,Bandidos Films,NaN

In [81]:
final_df.drop_duplicates(subset="title", inplace=True)

In [82]:
final_df.reset_index(drop=True, inplace=True)

In [83]:
final_df.date = pd.to_datetime(final_df.date)

In [84]:
final_df.to_csv(f"{CLEAN_DATA_PATH}/merged_with_metadata.csv")

In [85]:
final_df=final_df[final_df.date > "1990-01-01"]

In [86]:
final_df

,ticker,date,title,distributor,gross,percent_yd,percent_lw,theaters,per_theater,total_gross,...,runtime,vote_average,vote_count,origin_country,spoken_languages,genre_ids,genre_names,production_company_ids,production_company_names,belongs_to_collection
0,PARA,2016-06-02,10 Cloverfield Lane,Paramount Pi…,11414,0.32,-0.12,120.0,95.0,72082999,...,104.0,7.000,8351.0,US,English,"53, 878, 18, 27","Thriller, Science Fiction, Drama, Horror",11461,Bad Robot,NaN
1,Private,2025-10-16,100 Meters,GKIDS,313,-0.03,0.00,1.0,313.0,140991,...,1.0,0.000,0.0,US,NaN,NaN,NaN,NaN,NaN,NaN
2,SONY,2018-06-03,102 Not Out,Sony Pictures,2806,-0.48,-0.83,17.0,165.0,1339909,...,107.0,7.500,62.0,"IN, US",Hindi,"35, 10751, 18","Comedy, Family, Drama","5544, 106569, 157559, 63520","Benchmark, Treetop Entertainment, Sony Picture...",NaN
3,Private,2006-09-04,10th & Wolf,ThinkFilm,1791,0.00,0.00,6.0,299.0,49783,...,107.0,5.856,108.0,US,English,"28, 80, 18, 9648, 53","Action, Crime, Drama, Mystery, Thriller",41427,Suzanne DeLaurentiis Productions,NaN
4,WBD,2007-09-03,11th Hour,Warner Indep…,64888,0.00,0.00,111.0,585.0,417913,...,10.0,6.417,6.0,"IE, MX, US","English, Spanish",NaN,NaN,"160740, 2307, 71357, 49326, 11294","Canal 44, Hell's Kitchen, Hell's Kitchen Inter...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4652,SONY,2011-10-23,Zookeeper,Sony Pictures,13006,-0.32,-0.57,94.0,138.0,80360866,...,102.0,5.428,1730.0,US,English,"35, 10749, 10751","Comedy, Romance, Family","8000, 46222, 878, 5, 21","Broken Road Productions, Hey Eddie, Happy Madi...",NaN
4653,PARA,2001-10-20,Zoolander,Paramount Pi…,1430000,0.49,-0.38,2285.0,626.0,39272000,...,89.0,6.207,4697.0,US,English,35,Comedy,"4, 79, 268652, 172, 258, 2932","Paramount Pictures, Village Roadshow Pictures,...",Zoolander Collection
4654,PARA,2016-03-31,Zoolander 2,Paramount Pi…,2649,-0.21,-0.74,60.0,44.0,28848693,...,100.0,4.921,2306.0,US,English,"35, 12, 28","Comedy, Adventure, Action","4, 2932, 258","Paramount Pictures, Red Hour, Scott Rudin Prod...",Zoolander Collection
4655,SONY,2006-09-04,Zoom,Sony Pictures,94312,0.00,0.00,303.0,311.0,11406340,...,88.0,5.306,624.0,US,English,"10751, 35, 12, 28, 878","Family, Comedy, Adventure, Action, Science Fic...","497, 598, 12626","Revolution Studios, Team Todd, Boxing Cat Films",NaN
4656,SONY,2023-04-13,¡Que viva México!,Sony Pictures,163,-0.54,-0.81,6.0,27.0,161222,...,192.0,7.332,190.0,MX,Spanish,"18, 35","Drama, Comedy",21805,Bandidos Films,NaN

# 2. Filtering Data

1. Filter to english language

In [87]:
filtered = final_df[final_df['original_language'] == 'en']
filtered.shape

(4378, 50)

2. Make sure have usable gross, runtime, and popularity info

In [88]:
filtered = filtered[
    (filtered['total_gross'] > 0) &
    (filtered['average_gross'] > 0) &
    (filtered['popularity'] > 0) &
    (filtered['runtime'] > 0)
]
print(filtered.shape)

(4342, 50)

3. Create new feature (gross per theater)

In [89]:
filtered['gross_per_theater'] = filtered['total_gross'] / filtered['theaters']

4. Ensure inputs are present

In [90]:
filtered = filtered[filtered['genre_ids'
].isna()==False]
print(filtered.shape)

(4274, 51)

In [91]:
filtered.to_csv('../data/cleaned/final_df.csv', index=False)