In [4]:
import pandas as pd
import json
import os

# Merging Data from TMBD API and Original SOVAI Data

In [5]:
CLEAN_DATA_PATH = "data/cleaned"
RAW_DATA_PATH = "raw"

In [6]:
merged_df = pd.read_csv(f'{CLEAN_DATA_PATH}/merged.csv')
merged_df.head()

,Unnamed: 0,ticker,date,title,distributor,gross,percent_yd,percent_lw,theaters,per_theater,...,distributor address,distributorwebsite,release_date,year,title_key,id,original_title,popularity,weekday,is_weekend
0,0,PARA,2016-06-02,10 Cloverfield Lane,Paramount Pi…,11414,0.32,-0.12,120.0,95.0,...,"1515 Broadway, New York City, New York, 10036,...",http://www.paramount.com/,2016-03-10,2016,10 cloverfield lane,333371,10 Cloverfield Lane,7.8372,3,0
1,1,Private,2025-10-16,100 Meters,GKIDS,313,-0.03,0.00,1.0,313.0,...,"225 Broadway, Lower Manhattan, New York City, U.S",http://gkids.com/,2025-10-09,2025,100 meters,911001,100 meters,0.0143,3,0
2,2,SONY,2018-06-03,102 Not Out,Sony Pictures,2806,-0.48,-0.83,17.0,165.0,...,"10202 West Washington Boulevard, Culver City, ...",https://www.sonypictures.com/,2018-05-03,2018,102 not out,460713,102 Not Out,3.4544,6,1
3,3,Private,2006-09-04,10th & Wolf,ThinkFilm,1791,0.00,0.00,6.0,299.0,...,"1335 Windsor Ridge Ln, Annapolis, Maryland",https://www.thinkfilm-inc.com/,2006-08-17,2006,10th & wolf,13197,10th & Wolf,3.6557,0,0
4,4,WBD,2007-09-03,11th Hour,Warner Indep…,64888,0.00,0.00,111.0,585.0,...,"230 Park Avenue South, New York City, New York...",www.warnerbros.com,2007-08-16,2007,11th hour,476899,11th Hour,2.3114,0,0

In [7]:
tmdb_movie_metadata = pd.read_csv(f"{RAW_DATA_PATH}/tmdb_movie_metadata.csv")

In [8]:
tmdb_movie_metadata['tmdb_id'] = tmdb_movie_metadata['id']
tmdb_movie_metadata = tmdb_movie_metadata.drop(columns=['id'])

In [9]:
print(tmdb_movie_metadata.shape)

tmdb_movie_metadata.head()

(15793, 27)

,imdb_id,title,original_title,original_language,release_date,status,homepage,budget,revenue,adult,...,spoken_languages,genre_ids,genre_names,production_company_ids,production_company_names,production_company_countries,production_country_codes,production_country_names,belongs_to_collection,tmdb_id
0,tt1179933,10 Cloverfield Lane,10 Cloverfield Lane,en,2016-03-10,Released,https://www.paramountmovies.com/movies/10-clov...,15000000,110216998,False,...,English,"53, 878, 18, 27","Thriller, Science Fiction, Drama, Horror",11461,Bad Robot,US,US,United States of America,NaN,333371
1,NaN,100 meters,100 meters,en,2012-12-01,Released,NaN,0,0,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,911001
2,tt6580564,102 Not Out,102 Not Out,hi,2018-05-04,Released,NaN,0,0,False,...,Hindi,"35, 10751, 18","Comedy, Family, Drama","5544, 106569, 157559, 63520","Benchmark, Treetop Entertainment, Sony Picture...",", , IN, US","IN, US","India, United States of America",NaN,460713
3,tt0360323,10th & Wolf,10th & Wolf,en,2006-02-19,Released,NaN,8000000,143451,False,...,English,"28, 80, 18, 9648, 53","Action, Crime, Drama, Mystery, Thriller",41427,Suzanne DeLaurentiis Productions,NaN,US,United States of America,NaN,13197
4,tt6207498,11th Hour,11th Hour,en,2017-12-31,Released,http://undergroundfilms.ie/projects/11th-hour/,0,0,False,...,"English, Spanish",NaN,NaN,"160740, 2307, 71357, 49326, 11294","Canal 44, Hell's Kitchen, Hell's Kitchen Inter...",", IE, , US, MX","IE, MX","Ireland, Mexico",NaN,476899

In [10]:
merged_df['tmdb_id'] = merged_df['id']
merged_df = merged_df.drop(columns=['id'])

In [11]:
print(merged_df.shape)
merged_df.head()

(15810, 23)

,Unnamed: 0,ticker,date,title,distributor,gross,percent_yd,percent_lw,theaters,per_theater,...,distributor address,distributorwebsite,release_date,year,title_key,original_title,popularity,weekday,is_weekend,tmdb_id
0,0,PARA,2016-06-02,10 Cloverfield Lane,Paramount Pi…,11414,0.32,-0.12,120.0,95.0,...,"1515 Broadway, New York City, New York, 10036,...",http://www.paramount.com/,2016-03-10,2016,10 cloverfield lane,10 Cloverfield Lane,7.8372,3,0,333371
1,1,Private,2025-10-16,100 Meters,GKIDS,313,-0.03,0.00,1.0,313.0,...,"225 Broadway, Lower Manhattan, New York City, U.S",http://gkids.com/,2025-10-09,2025,100 meters,100 meters,0.0143,3,0,911001
2,2,SONY,2018-06-03,102 Not Out,Sony Pictures,2806,-0.48,-0.83,17.0,165.0,...,"10202 West Washington Boulevard, Culver City, ...",https://www.sonypictures.com/,2018-05-03,2018,102 not out,102 Not Out,3.4544,6,1,460713
3,3,Private,2006-09-04,10th & Wolf,ThinkFilm,1791,0.00,0.00,6.0,299.0,...,"1335 Windsor Ridge Ln, Annapolis, Maryland",https://www.thinkfilm-inc.com/,2006-08-17,2006,10th & wolf,10th & Wolf,3.6557,0,0,13197
4,4,WBD,2007-09-03,11th Hour,Warner Indep…,64888,0.00,0.00,111.0,585.0,...,"230 Park Avenue South, New York City, New York...",www.warnerbros.com,2007-08-16,2007,11th hour,11th Hour,2.3114,0,0,476899

## 1. Merge on TMDB

In [13]:
final_df = merged_df.merge(
    tmdb_movie_metadata,
    on="tmdb_id",
    how="left",  # keeps all rows from merged_df, adds matching metadata where available
    suffixes=("_sov", "_tmdb")  # avoids column name conflicts
)

print(final_df.shape)
final_df.drop(columns=['Unnamed: 0'], inplace=True)


print("Shape: ", final_df.shape)
print(final_df.columns)

(15810, 49)
Shape:  (15810, 48)
Index(['ticker', 'date', 'title_sov', 'distributor', 'gross', 'percent_yd',
       'percent_lw', 'theaters', 'per_theater', 'total_gross',
       'days_in_release', 'parent company', 'distributor address',
       'distributorwebsite', 'release_date_sov', 'year', 'title_key',
       'original_title_sov', 'popularity_sov', 'weekday', 'is_weekend',
       'tmdb_id', 'imdb_id', 'title_tmdb', 'original_title_tmdb',
       'original_language', 'release_date_tmdb', 'status', 'homepage',
       'budget', 'revenue', 'adult', 'overview', 'tagline', 'runtime',
       'popularity_tmdb', 'vote_average', 'vote_count', 'origin_country',
       'spoken_languages', 'genre_ids', 'genre_names',
       'production_company_ids', 'production_company_names',
       'production_company_countries', 'production_country_codes',
       'production_country_names', 'belongs_to_collection'],
      dtype='object')

In [14]:
final_df.to_csv(f"{CLEAN_DATA_PATH}/final_df.csv")

# 2. Filtering Data

1. Filter to english language

In [ ]:
filtered = final_df[final_df['original_language'] == 'en']
filtered.shape

(13317, 48)

2. Make sure have usable gross info

In [ ]:
filtered = filtered[
    (filtered['budget'] > 0) &
    (filtered['gross'] > 0)
]
filtered.shape

(3351, 48)

3. Create new feature (gross per theater)

In [ ]:
filtered['gross_per_theater'] = filtered['gross'] / filtered['theaters']

4. Ensure inputs are present

In [ ]:
filtered = filtered[filtered['genre_ids'
].isna()==False]
print(filtered.shape)

(3338, 49)

In [ ]:
filtered['release_date'] = pd.to_datetime(filtered['release_date_sov'])
filtered['release_month'] = filtered['release_date'].dt.month
filtered['release_weekday'] = filtered['release_date'].dt.dayofweek